*{
    font-family:'Courier New', Courier, monospace; 
}
 #nav{
display: flex;
justify-content: space-between;
margin: auto;
width: 100%; position: fixed;
background-color: rgb(240, 240, 240);
top: 0;
} 
#nav div:nth-child(2){
margin-right: 150px;
} 
#nav div:nth-child(1){
margin-left: 150px;
} 
#nav div{
display: flex;

} 
#nav div p{
margin-left: 20px;
font-size: x-small;
} 
#nav2{
display: flex;
justify-content: space-between;
width: 100%; position: fixed;
margin-top: 20px;background-color: rgb(248, 248, 248);
}
#nav2 div{
display: flex;
align-items:center ;

}
#nav2 div:nth-child(1){
margin-left: 150px;
} 
#nav2 div p{
margin-left: 20px;
} 
#nav2 div a{
margin-left: 20px;
text-decoration: none;
color: black;
} 
#nav2 div img{
margin-left: 20px;
} 
#nav2 input{
height: 30px;
width: 250px;
border: none;
background-color: rgb(238, 238, 238);
border-radius: 8px;
}
#nav2 h2{
margin-right: 20px;
}
#nav2 div:nth-child(2) img{
width: 20px;
}
#nav2 div:nth-child(2){
margin-right: 150px;

} 
#fimg{
margin-top: 100px;
width: 100%;
}
#fimg2{
margin-top: 10px;
width: 100%;
}
#logo{
width: 40px;
margin-right: 10px;
}
#low{
width: 70%;

margin: auto;display: grid;
grid-template-columns: repeat(3,1fr);
gap: 5px;
}
#low img{      
width: 100%;
height: 95%;
}

#endber>h2{
padding-top: 40px;
}


#endber>div{
display: flex;
width: 80%;
margin: auto;

}
#line1>p{
color: white
}
#line2{
margin-left: 60px;
margin-top: 44px;
}
#line2>p{
color: white;     
}
#line2>img{
width: 30%;
}
#line3{
margin-top: 44px;
}
#line3>p{
color: white;      
}
#line3>h5{
margin-top: 80px;  
}
#line4{
margin-top: 44px;
margin-left: 60px;
}
#line4>input{
background-color: rgb(34, 34, 38);
border: none;
border-bottom: solid yellow;
color: #f1f1f1;
}
#line4>button{
background-color: yellow;
font-size:17px;
padding: 10px 15px 10px 15px;

}
#endber{
background-color: rgb(34, 34, 38);
color: yellow;

}
#endber>hr{
width: 80%;
}
#nd2{
display: flex;
color: white;
}
.linea{
font-size: 15px;
}
.lineb{
margin-left: 70px;
}
.linec{
margin-left: 70px;
}
.lined{
margin-top: 17px;
margin-left: 150px;
color: aqua;
font-size: 22px;
}
#BT{

width: 80%;
margin: auto;
color: #f1f1f1;
}
@media all and (min-width:100px) and (max-width:750px){
#nav{

justify-content:flex-start ;
margin-left: 0px;

}
#nav div:nth-child(2){
margin-right: 10px;
} 
#nav div:nth-child(1){
margin-left: 0px;
} 
#nav div p{
margin-left: 10px;
font-size: 8px;
} 


#nav2{

justify-content: flex-start;
font-size: xx-small;

}
#nav2>div{

align-items:center ;

}
#nav2 div:nth-child(1){
margin-left: 0px;
} 
#nav2 div p{
margin-left: 5px;
} 
#nav2 div a{
margin-left: 0px;
text-decoration: none;
color: black;
} 
#nav2 div img{
margin-left: 10px;
} 
#nav2 input{
height: 0px;
width: 0px;
}
#nav2 h2{
margin-right: 5px;
}
#nav2 div:nth-child(2) img{
width: 10px;
}
#nav2 div:nth-child(2){
margin-right: -100px;
} 
#logo{
  width: 20px;
}
}