*{
    font-family:'Courier New', Courier, monospace; 
}
#nav{
display: flex;
justify-content: space-between;
margin: auto;
width: 100%; position: fixed;
background-color: rgb(240, 240, 240);
top: 0;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
} 
#nav div:nth-child(2){
margin-right: 150px;
} 
#nav div:nth-child(1){
margin-left: 150px;
} 
#nav>div{
display: flex;

} 
#nav div p{
margin-left: 20px;
font-size: x-small;
} 
#nav2{
display: flex;
justify-content: space-between;
width:100%; position: fixed;
margin-top: 20px;background-color: rgb(248, 248, 248);
top: 0;
box-shadow:  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#nav2>div{
display: flex;
align-items:center ;

}
#nav2 div:nth-child(1){
margin-left: 150px;
} 
#nav2 div p{
margin-left: 20px;
} 
#nav2 div a{
margin-left: 20px;
text-decoration: none;
color: black;
} 
#nav2 div img{
margin-left: 5px;
} 
#nav2 input{
height: 30px;
width: 250px;
border: none;
background-color: rgb(238, 238, 238);
border-radius: 8px;
}
#nav2 h2{
margin-right: 20px;
}
#nav2 div:nth-child(2) img{
width: 20px;
}
#nav2 div:nth-child(2){
margin-right: -100px;
} 


#nav3{

width: 50%;
display: flex;justify-content:center;
justify-content: space-evenly;
width: 100%;
margin: auto;
 position: fixed;

  display: flex;
  margin-top: 100px;
background-color: rgb(248, 248, 248);
top: 0;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;


} 
#fimg{
width: 100%;
}
#boximg>div{
width: 30%;
}
#boximg{
display: flex;
width: 80%;
margin: auto;text-align: center;

}
#boximg img{
width: 100%;

}
#boximg a{
font-size: small;

}
#mwimg img a{
width: 50%;
}
#mwimg{
display: flex;
}
h3{
text-align: center;
}
#logo{
width: 40px;
margin-right: 10px;
}
.man{
display: flex;
width: 90%;
}
.man a{
width: 100%;
}
.woman{
width: 90%;
display: flex;
}

a{ 
text-decoration: none;
color: black;
}
.manN:hover {
border-bottom: 4px solid rgb(0, 210, 221) ;
}
.womanN:hover {
border-bottom: 4px solid rgb(0, 210, 221) ;
}
.nobileN:hover {
border-bottom: 4px solid rgb(0, 210, 221) ;
}
 .dropdown-content{
    display:none;
 position: absolute;
 padding-top: 20px;
 padding-left: 50px;
 padding-right: 50px;
  background-color: #f1f1f1;
  min-width:50%;
 
 } 
 mwimg
 .line{
    border-left: solid black ;
 }

.dropdown-content a:hover {background-color: rgb(220, 213, 213); }

.dropdown:hover .dropdown-content {display: grid;
    column-gap: 50px;
    row-gap: 9px;
    grid-template-columns: repeat(3,190px);
}
  .slidingimg{
   width: 100%; height: 90%;margin-top: 150px;
  }  
  #endber>h2{
padding-top: 40px;
  }
 #endber{
   padding-left: 30px;
    background-color: rgb(34, 34, 38);
    color: yellow;
    height: 300px;
 }
                         /* nav ber css end*/
 .carousel{
margin-top: 160px;
margin-bottom: 2%;

 }
 .carousel a{
margin-left: 1%;
 }
 .carousel-cell{
   width: 22%;
   font-size: 14px;
   border: solid rgb(241, 237, 237);
   height: 500px;
  margin-left: 3%;
 }
 .carousel-cell p{
   padding-left: 10px;
   margin-top: -10px;
 }
 .carousel-cell h4{
   padding-left: 10px;
   margin-top: 0px;
 }
 .carousel-cell h1{
   padding-left: 10px;
   margin-top: -10px;
 }
 .endimg{
   display: flex;
 }
 .slide{
   margin-bottom: 50px;
 }
 .slide img{
width: 95%;
 }
 .car{
   margin-left: 0px;
   margin-right: 0px;

 }